<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">ArLivre</span>
    </div>

    <nav id="menu">
        <ul id="ul-menu">
            <li><a href="#" class="lnk-menu"> Home </a></li>
                <a routerLink="/cadastroAtleta">Cadastrar Atleta</a>
                <a routerLink="/cadastroCorrida">Cadastrar Corrida</a>
              <li><a href="#" class="lnk-menu"> Corridas </a></li>
            <li><a href="#" class="lnk-menu"> Inscrições </a></li>
        </ul>
    </nav>
</header>
