<header id="cabecalho">

    <div id="logo">
        Esporte <span id="titulo-logo">ArLivre</span>
    </div>

    <nav id="menu">
        <ul id="ul-menu">

            <li>
                <a routerLink="/home" class="link-menu">Home</a>
            </li>

            <li>
                <a routerLink="/cadastroAtleta" class="link-menu">
                    Cadastrar Atleta
                </a>
            </li>

            <li>
                <a routerLink="/listaAtleta" class="link-menu">
                    Lista de Atletas
                </a>
            </li>

            <li>
                <a routerLink="/cadastroCorrida" class="link-menu">
                    Cadastrar Corrida
                </a>
            </li>

            <li>
                <a routerLink="/" class="link-menu">
                    Corridas
                </a>
            </li>

        </ul>
    </nav>

</header>